.Uploade {
    outline: 2px dashed #92b0b3;
      outline-offset: -10px;
      -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
      transition: outline-offset .15s ease-in-out, background-color .15s linear;
      padding: 19px ;
      width: 97% ;
      text-align: center;
  
  
  }
  .Uploade-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  
  }
  
  .Uploade-link {
    color: #61dafb;
  
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .button{
    padding: 32px;
    background-color: #282c34;
    font-size: 24px;
    padding: 12px 28px;;
    border-radius: 12px;
     color: white;
  
  }
  .file1{
    text-align: center;
    margin-left: 80px;
  
  }