


.logo{
  background-color: #404040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;

    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 19px ;
    width: 97% ;
    text-align: center;

}
ul {


  list-style-type: none;
  width: 99%;
  background-color: #e6e6e6;
  height: 40%;
  overflow: hidden;
  font-size:20px;

}

li {
  display: inline;
  float: right;
}


li a {
  align-items: center;
  display:white;
  height: 40%;
  padding: 30px;
  background-color: #e6e6e6;
  color: #282c34;
}

